body{
  color: rgba(191,191,191);
}

section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.card {
  display: flex;
  width: 280px;
  height: 350px;
  position: relative;
  gap: 20px;
  padding: 20px;
  color: rgba(191,191,191);
  background: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  transition: .5s;
} 

.card::before{
  content: "";
  position: absolute;
  width: 280px;
  height: 350px;  
  top: -50%;
  left: -50%;
  border-radius: 8px;
  background: linear-gradient(180deg, transparent, transparent,#5ddcff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.card::after{
  content: "";
  position: absolute;
  width: 280px;
  height: 350px;  
  top: -50%;
  left: -50%;
  border-radius: 8px;
  background: linear-gradient(180deg, transparent, transparent,#5ddcff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  transform: scale(1);
    animation: changeText 3s infinite;
    animation: pulse 2s infinite;
  transition: .5s;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.fundo-card {
  position: absolute;
  inset: 2px;
  background: #3a455c;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}