@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right bottom, #0d0d0d, #1f202a, #2c3449, #334a6a, #32628c);
    font-family: 'Inter', sans-serif;
    color: #bfbfbf;
}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(13, 13, 13, 0.5);
        padding: 10px;
        text-align: center;  
        color: rgba(191,191,191);
      }

        main {
          display: flex;
          align-items: center;
          justify-content: center;
    }
      section.banner {
        display: flex;
        align-items:center ;
        padding: 20px;
        width: 80%;
        text-align: justify;
        justify-content: space-between;
        
    }

    section div.image-container {
      display: flex;
      width: 70%;
      height: 30rem;
      padding-left: 20px;
    }

 .button {
    display: inline-block;
    background-color: #011a35;
    color: #bfbfbf;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #007bff; 
 }

footer {
    background-color: rgba(13, 13, 13, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}