@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Para Suavisar a fonte */
  -webkit-font-smoothing: antialiased;
  /* Suavização da fonte para navegadores Webkit */
  -moz-osx-font-smoothing: grayscale;
  /* Suavização da fonte para navegadores Webkit */
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to right bottom, #0d0d0d, #1f202a, #2c3449, #334a6a, #32628c);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
}

header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(13, 13, 13, 0.5);
  padding: 20px;
  text-align: center;  
  color: rgba(191,191,191);
}

header nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header a {
  text-decoration: none;
  color: rgba(191,191,191);
  transition: 0.8s;
}

header a:hover {
  color: rgba(242,242,242);
  letter-spacing: 2px;
  transition: 0.8s;
}

main {
  height: 85%;
  padding: 20px;
}

footer {
  width: 100%;
  background-color: rgba(13, 13, 13, 0.5);
  color: #fff;
  padding: 20px;
  text-align: center;
}