body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right bottom, #0d0d0d, #1f202a, #2c3449, #334a6a, #32628c);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}