/* Media queries */

@media screen and (max-width: 450px) {
    header {
      flex-direction: column;
      font-size: small;
    }
  
    a {
      padding: 5px;
    }
  }
  
  @media screen and (max-width: 750px) {
    header {
      
      font-size: small;
    }
  }