@media screen and (max-width: 425px){
  body {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: 20%;
    font-size: small;
    gap: 10px;
  }

  a {
    padding: 5px;
  }
}